.header {
  max-width: 880px;
  margin: auto;
}
.header__logo {
  margin-bottom: 7%;
  margin-top: 7%;
  padding-left: 3%;
}
.header__line {
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  width: 100%;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
